<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examen 1 - Programacion 3</title>
</head>
<body>
    <h1>Integrantes:</h1>
    <p>Sergio Aguero Valle</p>
    <p>Fabricio Herrera Montero</p>
    <br>
    <br>
        <table class="tg">
        <thead>
            <th class="tg-0lax">Metodo</th>
            <th class="tg-0lax">URL</th>
            <th class="tg-0lax">Atributos</th>
            <th class="tg-0lax">Descripcion</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td class="tg-0lax">GET</td>
                <td class="tg-0lax">localhost:8080/getTotal</td>
                <td class="tg-0lax">N/A</td>
                <td class="tg-0lax">Imprime el total de los pedidos (en consolda y web) sumandole 15% de IVA</td>
              </tr>
            <tr>
                <td class="tg-0lax">GET</td>
                <td class="tg-0lax">localhost:8080/genPeiddos</td>
                <td class="tg-0lax">N/A</td>
                <td class="tg-0lax">Genera una lista dummy de pedidos</td>
              </tr>
          <tr>
          <tr>
            <td class="tg-0lax">GET</td>
            <td class="tg-0lax">localhost:8080/pedido</td>
            <td class="tg-0lax">N/A</td>
            <td class="tg-0lax">Imprime todos los elementos de la lista en consolda</td>
          </tr>
          <tr>
            <td class="tg-0lax">POST</td>
            <td class="tg-0lax">localhost:8080/pedido</td>
            <td class="tg-0lax">int cantidad<br>Double precio<br>String descripcion<br></td>
            <td class="tg-0lax">Agrega un objeto tipo Pedido a la lista de pedidos</td>
          </tr>
          <tr>
            <td class="tg-0lax">PUT</td>
            <td class="tg-0lax">localhost:8080/pedido</td>
            <td class="tg-0lax">int index<br>int cantidad<br>Double precio<br>String descripcion<br><br></td>
            <td class="tg-0lax">Actualiza la lista de pedidos con un nuevo pedido de <br>de acuedo a los atributos especificados<br></td>
          </tr>
          <tr>
            <td class="tg-0lax">DELETE</td>
            <td class="tg-0lax">localhost:8080/pedido</td>
            <td class="tg-0lax">int index</td>
            <td class="tg-0lax">Elimina un elemento de la lista en base a su numero de indice<br></td>
          </tr>

        </tbody>
        </table>
</body>
</html>