<html>
<header></header>
    <body>
        <h1>Descripción del proyecto API Parcial 1</h1>
        <p>Api para realizar pedidos en un almacén, este contiene los siguientes métodos:</p>
        <p>GET: enumera los pedidos y los imprime en consola (http://localhost:8080/pedido/get)</p>
        <p>POST: añade un pedido a la lista y la imprime en consola (http://localhost:8080/pedido/post)</p>
        <p>PUT: actualiza el pedido por medio del numero del pedido (index) (http://localhost:8080/pedido/edit)</p>
        <p>DELETE: remueve un pedido por medio del numero del pedido (index) (http://localhost:8080/pedido/delete)</p>
    </body>
</html>