
<html>

<body>
    <p>En resumen este proyecto va a tratar sobre un API para hacer
         pedidos en un almacen. Cada pedido lleva, cantidad, precio y descripcion. El api debe responder al 
         URL /pedidos/ Deberia tener un controlador rest que administre una lista de pedidos. El API deberia tener
          4 endpoints que hagan lo siguiente.</p>
          <ol>
            <li>GET Endpoint que enumere los pedidos de la lista y la imprima en consola.</ol>
            <li>POST Endpoint que añada el pedido a la lista y la imprima en consola.</li>
                <li>PUT que actualice el pedido (puede reemplazar el elemento un mediante el indice) y la imprima en consola</li>
                    <li>DELETE que remueva el pedido de la lista mediante el indice y la imprima en consola.</li>
                        <li>(Opcional) crear un webcontroller que contenga una descripcion breve del proyecto.</li>
                            <li>(Opcional) crear un metodo getTotal que calcule el monto del pedido + el IVA (15) y lo imprima en consola.</li>

            </ol>
        </body>
</html>