<!DOCTYPE html>
<htm>
    <header></header>
    <body>
        <h1>Examen 1</h1>
        <br>
        <h3>Metodo GET</h3>
        <p>Usar el endpoint "/pedidos"</p>
        <p>Se enumeran los pedidos de la lista e imprime la informacion en consola
        </p>
        <h3>Metodo POST</h3>
        <p>Usar el endpoint "/pedidos"</p>
        <p>Añada el pedido a la lista y la imprima en consola
        <h3>Metodo PUT</h3>
        <p>Usar el endpoint "/pedidos"</p>
        <p>Actualiza el pedido (puede reemplazar el elemento un mediante el indice) y la imprima en consola
        </p>
        <h3>Metodo DELETE</h3>
        <p>Usar el endpoint "/pedidos"</p>
        <p> Remueve el pedido de la lista mediante el indice y la imprima en consola</p>
    </body>
</htm>