<html>
  <header></header>
  <body>
    <h1>Inicio</h1>
    <p>Este es un sistema de pedidos</p>
    <p>Descripción del sistema:</p>
    <p>La opción "GET" enumera los pedidos de la lista y los imprime en consola.</p>
    <p>La opción "POST" añade el pedido a la lista y lo imprime en consola.</p>
    <p>La opción "PUT" actualiza el pedido (puede reemplazar el elemento un mediante el indice) y lo imprime en consola. </p>
    <p>La opción "DELETE" remueve el pedido de la lista mediante el indice y lo imprime en consola. </p>
    <p>Usted se encuentra en la página principal del sistema. </p>
  </body>
</html>